/* Font */
.inter-basic {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

*{
    box-sizing: border-box;
}

.body{
  margin: 0px auto 0px auto;
}

/* Header section */
.header{
  background-color: #15803D;
  max-width: 120rem;
}

/* Nav Bar Section*/
.nav-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 8.4375rem 1.5rem 8.4375rem;
}

.nav-bar p{
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
}

.nav-bar ul{
  list-style-type: none;
  padding: 0px;
}

.nav-bar ul a{
  text-decoration: none;
  color: white;
}

.menu-items{
  display: flex;
  gap: 1.5rem;
  margin: 0px;
}

.nav-btn{
  background-color: #FACC15;
  color: #15803D;
  border-radius: 1rem;
  height: 2.2rem;
  width: 7rem;
  border: none;
}


/* Main section */
.main{
  max-width: 120rem;
  height: 23.938rem;
}

/* Banner Section*/
.banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #CFF0DC;
}

.banner-main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-title{
  font-size: 3.125rem;
  font-weight: bold;
  margin: 0px;
  max-width: 39.188rem;
}

.banner-subtitle{
  max-width: 36.438rem;
  text-align: center;
  margin: 0.5rem 0rem 1.5rem 0rem;
  color: #1F2937;
}

.banner-btn{
  background-color: #FACC15;
  color: #15803D;
  border-radius: 1rem;
  height: 2.2rem;
  width: 7rem;
  border: none;
}

/* Campaign Section */

.campaign{
  max-width: 68.125rem;
  margin: 0px auto 0px auto;
}

.campaign-title{
  font-size: 1.875rem;
  font-weight: bold;
  margin: 0px auto 2.5rem auto;
  text-align: center;
}

.campaign-body{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.875rem;
}

.campaign-text p, ul{
  color: #1F2937;
}










@media screen and (max-width: 768px){
  /* nav bar section */
  .nav-bar{
    flex-direction: column;
    padding: 1.5rem 0rem 1.5rem 0rem;
    gap: 0.5rem;
  }

  .nav-bar p{
    margin: 0px;
    text-align: center;
  }

  .menu-items{
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
  }

  .nav-bar ul{
    text-align: center;
  }


  /* banner section */
  .banner{
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    /* margin-bottom: 3.125rem; */
  }
  .left-image{
    display: none;
  }

  .right-image{
    display: none;
  }

  .banner-title{
    text-align: center;
  }

  .banner-btn{
    margin-bottom: 0.5rem;
  }

  .banner-subtitle{
    padding: 0rem 0.5rem 0rem 0.5rem;
  }

  /* Campaign Section */
  .campaign{
    margin-top: 3.125rem;
  }
  
  .campaign-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem 0.5rem 0rem 0.5rem;
  }
  .campaign-text p{
    text-align: center;
  }

  .campaign-title{
    margin-bottom: 0.8rem;
  }

  .campaign-body{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
  }

  .campaign-image{
    padding: 0.5rem;
    margin: 0px;
    max-width: 100%;
    height: auto;
  }
}