/* Font */
.inter-basic {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

*{
    box-sizing: border-box;
}


.header{
  background-color: #15803D;
  max-width: 120rem;
}

/* Nav Bar */
.nav-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 1.5rem 8.4375rem 1.5rem 8.4375rem;
}

.nav-bar p{
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
}

.nav-bar ul{
  list-style-type: none;
  /* border: 1px red dashed; */
  padding: 0px;
}

.nav-bar ul a{
  text-decoration: none;
  color: white;
}

.menu-items{
  display: flex;
  gap: 1.5rem;
}

.nav-btn{
  background-color: #FACC15;
  color: #15803D;
  border-radius: 0.625rem;
  height: 2.2rem;
  width: 7rem;
  border: none;
}










@media screen and (max-width: 768px){
  .nav-bar{
    flex-direction: column;
    padding: 1.5rem 0rem 1.5rem 0rem;
  }

  .nav-bar p{
    margin: 0px;
    text-align: center;
  }

  .menu-items{
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
  }

  .nav-bar ul{
    text-align: center;
  }
}